<!DOCTYPE HTML>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->

<html class="noIE">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>阿蛮教育</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="__STATIC__/index/font/icomoon/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="__STATIC__/index/font/icon/simple-line-icons.css">

    <!-- CSS -->
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="css/bootstrap-theme.css">-->
    <!--<link rel="stylesheet" href="css/style.css">-->
    <!--<link rel="stylesheet" href="css/sequencejs.css" />-->

    <link rel="stylesheet" href="__STATIC__/index/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/index/css/bootstrap-theme.css">
    <link rel="stylesheet" href="__STATIC__/index/css/animate.css">
    <link rel="stylesheet" href="__STATIC__/index/css/isotope.css">
    <link rel="stylesheet" href="__STATIC__/index/css/prettyphoto/default.css">
    <link rel="stylesheet" href="__STATIC__/index/css/mobilemenu.css">
    <link rel="stylesheet" href="__STATIC__/index/css/style.css">
    <link rel="stylesheet" href="__STATIC__/index/css/hover-min.css">
    <link rel="stylesheet" href="__STATIC__/index/css/responsive.css">
    <link rel="stylesheet" href="__STATIC__/index/css/innerpage.css">
    <link rel="stylesheet" href="__STATIC__/index/css/sequencejs.css" />

    <!--[if IE 8]>
    <script src="__STATIC__/index/js/respond.min.js"></script>
    <script src="__STATIC__/index/js/selectivizr-min.js"></script>
    <script src="__STATIC__/index/js/PIE.min.js"></script>
    <![endif]-->
    <script>window.jQuery || document.write('<script src="__STATIC__/index/js/jquery.min.js"><\/script>');</script>
    <script src="__STATIC__/index/js/modernizr.min.js"></script>

</head>
<body class="onepage sticky-header">
<div id="loading-mask">
    <div class="loading-img"><img alt="img" src="__STATIC__/index/images/preloader.gif"  /></div>
</div>
<!-- PAGE HEADER -->
<header class="page-header" role="banner" >
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="logo " >
                    <a href="indexs.html" title="Tofito - Single Page Responsive HTML Template">
                        <img  src="__STATIC__/index/images/parallax/AMAN.png" alt="Tofito - Single Page Responsive HTML Template" />
                    </a> </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <nav class="main-nav clearfix" role="navigation">
                    <ul id="main-menu" class="menu main-menu hidden-xs">
                        <li class="active">
                            <a href="#" class="class">免费课程</a>
                            <ul class="uls">
                                <li><a href="__STATIC__/index/html/YSxy.html">雅思</a></li>
                                <li><a href="__STATIC__/index/html/TFxy.html">托福</a></li>
                                <li><a href="__STATIC__/index/html/XYZxy.html">小语种</a></li>
                                <li><a href="__STATIC__/index/html/ZGKYYxy.html">中高考英语</a></li>
                            </ul>
                        </li>
                        <li><a href="__STATIC__/index/html/FreeCourse.html">配套教材</a></li>
                        <li><a href="__STATIC__/index/html/Xprogram.html">小程序</a></li>
                        <li><a href="__STATIC__/index/html/PhoneApp.html">手机APP</a></li>
                        <li><a href="__STATIC__/index/html/HighScore.html">高分经验</a></li>
                        <li><a href="__STATIC__/index/html/Courses.html">面授课程</a></li>
                        <li><a href="__STATIC__/index/html/AMstory.html">阿蛮故事</a></li>
                        <li><a href="">东哥淘宝书屋 </a></li>
                        <li><a href="__STATIC__/index/html/login.html">登录</a></li>
                        <li><a href="__STATIC__/index/html/register.html">注册</a></li>
                    </ul>
                    <div id="mobile-menu" class="visible-xs">
                        <div id="dl-menu" class="dl-menuwrapper menu">
                            <button class="dl-trigger" title="Toggle Site Menu"><i class="icomoon-reorder"></i></button>
                            <ul class="dl-menu">
                                <li class="active"><a href="__STATIC__/index/html/indexs.html">免费课程</a></li>
                                <li><a href="__STATIC__/index/html/FreeCourse.html">配套教材</a></li>
                                <li><a href="__STATIC__/index/html/Xprogram.html">小程序</a></li>
                                <li><a href="__STATIC__/index/html/PhoneApp.html">手机APP</a></li>
                                <li><a href="__STATIC__/index/html/HighScore.html">高分经验</a></li>
                                <li><a href="__STATIC__/index/html/Courses.html">面授课程</a></li>
                                <li><a href="__STATIC__/index/html/AMstory.html">阿蛮故事</a></li>
                                <li><a href="">东哥淘宝书屋 </a></li>
                                <li><a href="__STATIC__/index/html/login.html">登录</a></li>
                                <li><a href="__STATIC__/index/html/register.html">注册</a></li>
                            </ul>
                        </div>
                        <!-- /dl-menuwrapper -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<section id="home" class="section  home-slider" >
    <div id="sequence">
        <ul class="sequence-canvas">
            <li class="slide-frame">
                <div class="slide-bg slide-bg1" ></div>
                <div class="slide-logo" style="margin-left:-250px; top:28%;"><img alt="img"   src="__STATIC__/index/images/parallax/BJ.png" width="528" height="65"></div>
                <div class="slide-text">
                    <p>We are keen on Education</br>
                        Coexistence of good faith and quality.</p>
                </div>
                <div class="slide-title"><a class="outline-outward" href="">点击进入</a> </div>
            </li>
            <!-- Frame 1 -->
            <li class="slide-frame">
                <div class="slide-bg slide-bg2"></div>
                <!--<div class="slide-logo" style="margin-left:-200px; top:28%;"><img alt="img"   src="images/parallax/BJ.png" width="728" height="478"></div>-->
                <!--<div class="slide-text">-->
                <!--<p>We are Passionate About Helping Our Clients <br>-->
                <!--Achieve Their Goals & Grow Their Brands.</p>-->
                <!--</div>-->
                <div class="slide-title"><a class="outline-outward" href="#Services">点击进入</a> </div>
            </li>
        </ul>
    </div>
</section>
<section class="" id="section">
    <div class="logo-XY">
        <a href="__STATIC__/index/html/YSxy.html"><img src="__STATIC__/index/images/parallax/1.png" alt=""></a>
        <a href="__STATIC__/index/html/TFxy.html"><img src="__STATIC__/index/images/parallax/2.png" alt=""></a>
        <a href="#"><img src="__STATIC__/index/images/parallax/3.png" alt=""></a>
        <a href="__STATIC__/index/html/ZGKYYxy.html"><img src="__STATIC__/index/images/parallax/4.png" alt=""></a>

    </div>
    <div class="content">
        <img src="__STATIC__/index/images/parallax/MAIN2.jpg" alt="">
        <img src="__STATIC__/index/images/parallax/s4.png" alt="">
        <img src="__STATIC__/index/images/parallax/s5.png" alt="">
        <img src="__STATIC__/index/images/parallax/s6.png" alt="">
        <img src="__STATIC__/index/images/parallax/s7.png" alt="">
        <img src="__STATIC__/index/images/parallax/s8.png" alt="">
    </div>
</section>
<section class="section section-red" id="connected">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <header class="section-header">
                    <h2  class="heading ">stay connected</h2>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
                </header>
            </div>
        </div>
    </div>

</section>

<!-- Javascripts -->
<script src="__STATIC__/index/js/bootstrap.min.js"></script>
<!-- // Slider -->
<script type="text/javascript" src="__STATIC__/index/js/jquery.sequence.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/sequencejs.js"></script>
<script src="__STATIC__/index/js/jquery.nav.js"></script>
<!--<script src="js/jquery.isotope.min.js"></script>-->
<script src="__STATIC__/index/js/jquery.prettyPhoto.min.js"></script>
<script src="__STATIC__/index/js/jflickrfeed.min.js"></script>
<!--<script src="js/sly.min.js"></script>-->
<script src="__STATIC__/index/js/package.min.js"></script>
<script src="__STATIC__/index/js/scripts.js"></script>
<script>
    $(".class").mousemove(function(){
        $(".uls").toggle(20);
    });
    $(document).ready(function(){
        $(".class").mousedown(function(){
            $(".uls").toggle(true);
        });
    });
</script>
</body>
</html>